:root {
    --bgcolor: rgb(42, 42, 42);
    --altcolor: aliceblue;
    --contrastcolor: rgba(252, 63, 16, 1);
    --bgcolorlight: color-mix(in srgb, var(--bgcolor), white 20%);
    --altcolorlight: color-mix(in srgb, var(--altcolor), white 30%);
    /**/
    --hour-x: 0;
    --hour-y: 0;
    --min-x: 0;
    --min-y: 0;
    --sec-x: 0;
    --sec-y: 0;
}

html {
    scrollbar-width: none;
    -webkit-text-size-adjust: 100%;
    /* Prevents Chrome from scaling text on its own */
    text-size-adjust: 100%;
}


/* Firefox */

body {
    -ms-overflow-style: none;
    user-select: none;
}


/* IE and Edge */

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
    display: none;
}

#divider {
    display: flex;
    flex-direction: row;
}

#settings {
    width: 3vw;
    height: 90vh;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    z-index: 2;
    padding-right: 10vw;
    margin-right: -10vw;
    margin-left: 0.5vw;
}

.settingsButton {
    background-color: var(--altcolor);
    color: var(--bgcolor);
    width: max(3vw, 50px);
    height: max(3vw, 50px);
    border: none;
    border-radius: max(30vw, 50px);
    background-clip: padding-box;
    transform: rotate(0.05deg);
    margin-bottom: max(0.5vw, 10px);
    position: relative;
    align-items: center;
    display: flex;
    flex: row;
    flex-grow: 1;
}

#settings:hover {
    opacity: 100%;
    transition: opacity 0.8s ease-out;
}

#page {
    flex-grow: 1;
}

#colorSetting {
    margin-top: max(0.5vw, 10px);
    transition: all 0.8s ease;
}

#colorSetting:hover {
    width: max(8vw, 102px);
    transition: all 0.8s ease;
}

#colorPicker {
    border: none;
    padding: 0;
    margin: 0;
    height: max(2vw, 40px);
    width: max(2vw, 40px);
    border-radius: max(2vw, 40px);
    background-clip: padding-box;
    transform: rotate(0.05deg);
    transition: all 0.8s ease;
    cursor: pointer;
    opacity: 0;
}

#colorSetting:hover #colorPicker {
    width: max(7vw, 90px);
    transition: all 0.8s ease;
}

#inputdiv {
    padding: 0;
    opacity: 0;
    border-radius: 2vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    width: fit-content;
    height: fit-content;
    background-color: var(--bgcolor);
    align-self: center;
    transition: all 0.4s ease;
    margin: max(0.5vw, 6px);
    border-radius: max(2vw, 40px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#clockSettings {
    transition: all 0.8s ease;
}

#clockSettings:hover {
    width: 24vw;
    transition: all 0.4s ease;
}

.clockOption {
    min-width: 0vw;
    max-width: 0vw;
    color: var(--altcolor);
    background-color: var(--bgcolor);
    border: none;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    padding: 0;
    padding-left: max(0.5vw, 10px);
    padding-right: max(0.5vw, 10px);
    margin: 0;
    margin-left: 0.5vw;
    height: max(2vw, 40px);
    border-radius: max(2vw, 40px);
    flex: 1;
    text-align: left;
    line-height: 1;
    display: inline;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 500;
    font-style: normal;
    opacity: 0;
    transition: min-width 0.5s ease, max-width 0.5s ease, opacity 0.4s ease;
    font-size: max(1vw, 4px);
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#clockSettings:hover .clockOption {
    opacity: 1;
    transition: min-width 0.8s ease, max-width 0.8s ease, opacity 0.8s ease;
    min-width: 6vw;
    max-width: 6vw;
}

#clockSettings:hover .clockOption.active {
    opacity: 1;
    transition: min-width 0.8s ease, max-width 0.8s ease, opacity 0.8s ease;
    min-width: 10vw;
    max-width: 10vw;
}

#clockSettings:hover #clockIcon {
    opacity: 0;
    transition: opacity 0.8s ease;
}

#option-off {
    max-width: 1vw;
}

#option-analog {
    margin-right: 0.5vw;
}

#colorSetting:hover #inputdiv {
    transition: opacity 0.8s ease;
    opacity: 100%;
}

.icon {
    fill: var(--bgcolor);
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0.5vw;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

#colorIcon {
    width: max(2.2vw, 42px);
    height: max(2.2vw, 42px);
    flex: 1;
    left: max(0.4vw, 5px);
    transition: left 0.8s ease, opacity 0.8s ease;
}

#colorSetting:hover #colorIcon {
    opacity: 0;
    left: 5vw;
    transition: left 0.8s ease, opacity 0.8s ease;
}

#clockIcon {
    width: max(2vw, 40px);
    height: max(2vw, 40px);
    pointer-events: none;
    transition: opacity 0.8s ease;
    position: fixed;
    left: max(0.5vw, 5px);
}

#background {
    background-color: var(--bgcolor);
}

#digitalClockContainer {
    position: absolute;
    margin-top: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease;
    visibility: hidden;
}

#analogClockContainer {
    position: absolute;
    left: 26vw;
    justify-self: center;
    margin-top: 8vh;
    margin-right: 3vw;
    height: 40vw;
    width: 40vw;
    transition: opacity 0.8s ease;
    visibility: hidden;
}

#analogBackground {
    height: 40vw;
    width: 40vw;
    border: 0;
    border-radius: 20vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--altcolor);
    position: absolute;
    z-index: 1;
    transition: background-color 0.6s linear;
    box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.3), 0px -20px 30px var(--bgcolorlight);
}

#analogHour {
    height: 14vw;
    width: 3vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--bgcolor);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--hour-x) var(--hour-y) 4px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 20px var(--altcolorlight));
}

#analogMinute {
    height: 17vw;
    width: 2vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--bgcolor);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--min-x) var(--min-y) 6px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 25px var(--altcolorlight));
}

#analogSecond {
    height: 19vw;
    width: 0.5vw;
    border: 0;
    border-radius: 1vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--contrastcolor);
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--sec-x) var(--sec-y) 8px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 30px var(--altcolorlight));
    transition: background-color 0.3s linear;
}

#digital-clock {
    color: var(--altcolor);
    margin: 0;
    position: fixed;
    top: 30vh;
    left: 5vw;
    padding: 0;
    line-height: 1;
    display: inline;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20vw;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3), 0px -15px 30px var(--bgcolorlight);
}

#page {
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');