:root {
    --bgcolor: rgb(42, 42, 42);
    --altcolor: aliceblue;
    --contrastcolor: rgba(252, 63, 16, 1);
    /**/
    --digital-button-size: 6vw;
    --off-button-size: 8vw;
    --analog-button-size: 6vw;
    /**/
    --hour-x: 0;
    --hour-y: 0;
    --min-x: 0;
    --min-y: 0;
    --sec-x: 0;
    --sec-y: 0;
}

html {
    scrollbar-width: none;
    -webkit-text-size-adjust: 100%;
    /* Prevents Chrome from scaling text on its own */
    text-size-adjust: 100%;
}


/* Firefox */

body {
    -ms-overflow-style: none;
    user-select: none;
}


/* IE and Edge */

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
    display: none;
}

#divider {
    display: flex;
    flex-direction: row;
}

#settings {
    width: 3vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    z-index: 2;
    padding-right: 10vw;
    margin-right: -10vw;
    margin-left: 0.5vw;
    margin-top:0.5vw;
}

.settingsButton {
    background-color: var(--altcolor);
    color: var(--bgcolor);
    width: 3vw;
    height: 3vw;
    border: none;
    border-radius: 12mm;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    margin-bottom: 2vh;
    position: relative;
    align-items: center;
    display: flex;
    flex: row;
    flex-grow: 1;
}

#settings:hover {
    opacity: 100%;
    transition: opacity 0.8s ease-out;
}

#page {
    flex-grow: 1;
}

#colorSetting {
    transition: all 0.8s ease;
}

#colorSetting:hover {
    width: 8vw;
    transition: all 0.8s ease;
}

#colorPicker {
    border: none;
    padding: 0;
    margin: 0;
    height: 2vw;
    width: 2vw;
    border-radius: 3.5mm;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    transition: all 0.8s ease;
    cursor: pointer;
    opacity: 0;
}

#colorSetting:hover #colorPicker {
    width: 7vw;
    transition: all 0.8s ease;
}

#inputdiv {
    padding: 0;
    opacity: 0;
    border-radius: 2vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    width: fit-content;
    height: fit-content;
    background-color: var(--bgcolor);
    align-self: center;
    transition: all 0.4s ease;
    margin: 0.5vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#clockSettings {
    transition: all 0.8s ease;
}

#clockSettings:hover {
    width: 24vw;
    transition: all 0.4s ease;
}

.clockOption {
    min-width: 0;
    max-width: 0;
    color: var(--altcolor);
    background-color: var(--bgcolor);
    border: none;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    padding: 0;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0;
    margin-left: 0.5vw;
    height: 2vw;
    border-radius: 2vw;
    flex: 1;
    text-align: left;
    line-height: 1;
    display: inline;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 500;
    font-style: normal;
    opacity: 0;
    transition: min-width 0.5s ease, max-width 0.5s ease, opacity 0.4s ease;
    font-size: 1vw;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#clockSettings:hover .clockOption {
    opacity: 1;
    transition: min-width 0.8s ease, max-width 0.8s ease, opacity 0.8s ease;
}

#clockSettings:hover #option-off {
    min-width: var(--off-button-size);
    max-width: var(--off-button-size);
}

#clockSettings:hover #option-digital {
    min-width: var(--digital-button-size);
    max-width: var(--digital-button-size);
}

#clockSettings:hover #option-analog {
    min-width: var(--analog-button-size);
    max-width: var(--analog-button-size);
}

#clockSettings:hover #clockIcon {
    opacity: 0;
    transition: opacity 0.8s ease;
}

#option-off {
    max-width: 1vw;
}

#option-analog {
    margin-right: 0.5vw;
}

#colorSetting:hover #inputdiv {
    transition: opacity 0.8s ease;
    opacity: 100%;
}

.icon {
    fill: var(--bgcolor);
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0.5vw;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

#colorIcon {
    width: 2.2vw;
    height: 2.2vw;
    flex: 1;
    left: 0.4vw;
    transition: left 0.8s ease, opacity 0.8s ease;
}

#colorSetting:hover #colorIcon {
    opacity: 0;
    left: 5vw;
    transition: left 0.8s ease, opacity 0.8s ease;
}

#clockIcon {
    width: 2vw;
    height: 2vw;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

#background {
    background-color: var(--bgcolor);
}

#digitalClockContainer {
    position: absolute;
    margin-top: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease;
    visibility: hidden;
}

#analogClockContainer {
    position: absolute;
    left: 26vw;
    justify-self: center;
    margin-top: 8vh;
    margin-right: 3vw;
    height: 40vw;
    width: 40vw;
    transition: opacity 0.8s ease;
    visibility: hidden;
}

#analogBackground {
    height: 40vw;
    width: 40vw;
    border: 0;
    border-radius: 20vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--altcolor);
    position: absolute;
    z-index: 1;
    transition: background-color 0.6s linear;
    box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.3);
}

#analogHour {
    height: 14vw;
    width: 3vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--bgcolor);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--hour-x) var(--hour-y) 4px rgba(0, 0, 0, 0.5));
}

#analogMinute {
    height: 17vw;
    width: 2vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--bgcolor);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--min-x) var(--min-y) 6px rgba(0, 0, 0, 0.5));
}

#analogSecond {
    height: 19vw;
    width: 0.5vw;
    border: 0;
    border-radius: 1vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--contrastcolor);
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--sec-x) var(--sec-y) 8px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s linear;
}

#digital-clock {
    color: var(--altcolor);
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20vw;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}

#page {
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

